.task-5-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
}

.task-5-cell {
  flex: 1;
  // width: 100%;
  // height: 100%;
  min-width: 50%;
  min-height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
}
