.task-6-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
}

.task-6-column {
  display: flex;
  width: 24px;
  font-size: 24px;
  line-height: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
}
