$variable: red;

.lesson-11-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $variable;
}

.lesson-11-edit-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf8;
  & > form {
    width: 200px;
    height: 200px;
    background-color: white;
  }
}

// button {
// }

// button > span {
//   background-color: green;
// }

// button:hover > span {
//   background-color: red;
// }

.default-style {
  background-color: #dad;
  font-size: 2rem;
  color: #333;
}

button {
  @extend .default-style;
  > span {
    background-color: green;
  }
  &:hover > span {
    background-color: blue;
  }
}
