.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test {
  font-size: 48px;
}

.recursive-box {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
}

.recursive-container {
  width: 400px;
  height: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 400px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.container > div {
  width: 100%;
  min-height: 100px;
  border-color: black;
  border-style: solid;
  border-width: 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div > strong::after {
  content: ': ';
}

.container > div > strong {
  margin-right: 4px;
}