body {
  // overflow: hidden;
}

.lesson18-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  overflow: auto;
}

.lesson-18-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4448;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    width: 40%;
    height: 40%;
    border-radius: 16px;
    background-color: white;
  }
}
